.parent-full-width{
    width: 100%;
}
.parent-percent-width{
    width: 50%;
}
.parent-pixel-width{
    width: 18.75rem;
}
.self-full-width{
    width: 100%;
}
.self-percent-width{
    width: 50%;
}

.self-pixel-width{
    width: 18.75rem;
}
.self-pixel-height{
    --jb-input-height:4.375rem;
}
.parent-pixel-height{
    --jb-input-height:4.375rem;
}

